{
  "extends": "airbnb/base",
  "plugins": ["riot"],
  "rules" : {
    "max-len": [2, {"code": 120}],
    "semi": [0],
    "no-param-reassign": [0],
    "no-unused-vars": [2, {"args": "after-used", "argsIgnorePattern": "^_"}],
    "prefer-const": [0],
    "prefer-destructuring": [0],
    "no-bitwise": [0],
    "no-plusplus": [0]
  },
  "globals": {
    "riot": true,
    "route": true,
    "opts": true,
    "window": true,
    "moment": true,
    "$": true,
    "jQuery": true,
    "app": true,
    "SmoothScroll": true,
    "countdown": true,
    "ga": true,
    "showdown": true
  },
  "env": {
    "browser": true
  }
}
