{
  "extends": "airbnb/base",
  "plugins": ["riot"],
  "rules" : {
    "max-len": [2, {"code": 120}],
    "semi": [2, "never"],
    "no-param-reassign": [0],
    "no-unused-vars": [2, {"args": "after-used", "argsIgnorePattern": "^_"}],
    "prefer-const": [0]
  },
  "globals": {
    "riot": true,
    "opts": true,
    "window": true,
    "moment": true,
    "$": true,
    "app": true
  },
  "env": {
    "browser": true
  }
}
